doctype html
html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Notification Styles Inspiration | Top Bar Slide
    meta(name="description", content="Various styles and effects for unobtrusive notifications on a website")
    meta(name="keywords", content="notification, inspiration, style, effect, growl, javascript")
    meta(name="author", content="Codrops")
    link(rel="shortcut icon", href="../favicon.ico")
    link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="css/normalize.css")
    link(rel="stylesheet", type="text/css", href="css/demo.css")
    link(rel="stylesheet", type="text/css", href="css/ns-default.css")
    link(rel="stylesheet", type="text/css", href="css/ns-style-bar.css")
    script(src="js/modernizr.custom.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js")
    script(src="js/script.js")
    script(src="js/jquery-2.1.1.min.js")
    //if IE
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
  body.color-1(ng-app="bulkScreenshots" ng-controller="bulkScreenshotsController")
    block content